:root {
  --cb-white: #fff;
  --cb-black: #11121f;
  --cb-grey-dark: #141416;
  --cb-grey-mid: #737373;
  --cb-grey-light: #aaaaaa;
  --cb-grey-pale: #c6c6c6;
  --cb-grey-muted: #34343b;
  --cb-cyan: cyan;
  --cb-royal: #371b8f;
  --cb-lavender: #ede7ff;
  --cb-dusk: #292c55;
  --cb-active-dark: #081a20;
  --cb-bg-light: #f5f5f5;
}

:root {
  --cb-body: var(--cb-black);
  --cb-text-primary: var(--cb-white);
  --cb-text-secondary: var(--cb-grey-light);
  --cb-text-tertiary: var(--cb-grey-pale);
  --cb-heading: var(--cb-white);

  --cb-button-bg: var(--cb-black);
  --cb-button-border: var(--cb-dusk);
  --cb-button-active-bg: var(--cb-active-dark);
  --cb-button-active-border: var(--cb-cyan);

  --cb-icon-fill: var(--cb-cyan);
}

@media (prefers-color-scheme: light) {
  :root:not(.cb__dark-mode) {
    --cb-body: var(--cb-white);
    --cb-text-primary: var(--cb-black);
    --cb-text-secondary: var(--cb-grey-mid);
    --cb-text-tertiary: var(--cb-black);
    --cb-heading: var(--cb-black);

    --cb-button-bg: var(--cb-bg-light);
    --cb-button-border: var(--cb-grey-pale);
    --cb-button-active-bg: var(--cb-bg-light);
    --cb-button-active-border: var(--cb-royal);

    --cb-icon-fill: var(--cb-royal);
  }
}

.cb__body.cb__light-mode {
  --cb-body: var(--cb-white);
  --cb-text-primary: var(--cb-black);
  --cb-text-secondary: var(--cb-grey-mid);
  --cb-text-tertiary: var(--cb-black);
  --cb-heading: var(--cb-black);

  --cb-button-bg: var(--cb-bg-light);
  --cb-button-border: var(--cb-grey-pale);
  --cb-button-active-bg: var(--cb-lavender);
  --cb-button-active-border: var(--cb-royal);

  --cb-icon-fill: var(--cb-royal);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cb__body {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.075em;
  width: 360px;
  background: var(--cb-body);
  color: var(--cb-text-primary);
}

.cb__container {
  padding: 1rem;
}

.cb__header {
  margin-bottom: 1.75rem;
}

.cb__heading-main {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  color: var(--cb-heading);
}

.subtitle {
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
  color: var(--cb-text-secondary);
}

.cb__header-control-wrapper {
  display: flex;
  justify-content: space-between;
}

.cb__section {
  margin-bottom: 2.25em;
}

.cb__heading-sub {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  letter-spacing: 0.5px;
  color: var(--cb-text-secondary);
}

.cb__button {
  align-items: center;
  background: var(--cb-button-bg);
  border: 2px solid var(--cb-button-border);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  letter-spacing: 0.08em;
  font-size-adjust: 0.5;

  &:hover,
  &:focus {
    border-color: var(--cb-button-active-border);
    background: var(--cb-button-active-bg);
  }

  &.active {
    border-color: var(--cb-button-active-border);
    background: var(--cb-button-active-bg);
  }
}

.cb__button-theme-goggle {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  color: var(--cb-text-primary);
}

.cb-options__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cb__button-option {
  min-height: 3.75rem;
  text-align: left;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
}

.cb__button-option-label-wrapper {
  display: flex;
  flex-direction: column;
}

.cb__button-option-label {
  font-size: 1.5rem;
  color: var(--cb-text-primary);
}

.cb__button-option-description {
  font-size: 1rem;
  color: var(--cb-text-primary);
}

.cb__button-option-eyecon {
  display: none;
  height: 1.5rem;

  & svg {
    fill: var(--cb-icon-fill);
  }
}

.cb__button-option.active .cb__button-option-eyecon {
  display: block;
}

.cb__footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  color: var(--cb-text-tertiary);

  .cb__link,
  .cb__link:active,
  .cb__link:visited {
    color: var(--cb-text-primary);
  }

  .cb__logo {
    height: 1.25rem;
    fill: var(--cb-text-primary);
  }
}
