@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --cb-light: #fff;
  --cb-dark: #11121f;
  --cb-grey: #34343b;
  --cb-light-grey: #aab8d2;
  --cb-pale-grey: #c6c6c6;
  --cb-dark-grey: #141416;
  --cb-cyan: cyan;
  --cb-royal: #00042e;
  --cb-lavender: #ede7ff;
  --cb-dusk: #292c55;
  --cb-body: var(--cb-dark);
  --body-font:
    "DM Sans, Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --alt-font: "Plus Jakarta Sans", sans-serif;

  --cb-text--cb-dark: var(--cb-dark-grey);
  --cb-text--cb-mid: var(--cb-light-grey);
  --cb-text--cb-light: var(--cb-light);

  --cb-text: var(--cb-light);
  --cb-heading: var(--cb-text--cb-light);
  --cb-subtitle: var(--cb-text--cb-mid);

  --cb-button-border: var(--cb-dusk);
  --cb-button-background: var(--cb-dark);
  --cb-active-background: #081a20;
  --cb-active-border: var(--cb-cyan);
  --cb-icon-fill: var(--cb-cyan);
  --cb-icon-size: 24px;
  --cb-footer-text: var(--cb-pale-grey);
  --cd-footer-link: var(--cb-cyan);
}

@media (prefers-color-scheme: light) {
  :root:not(.cb__dark-mode) {
    --cb-body: #ffffff;
    --cb-light: #11121f;
    --cb-dark: #ffffff;
    --cb-grey: #737373;

    --cb-text: var(--cb-text--cb-dark);
    --cb-heading: var(--cb-text--cb-dark);
    --cb-subtitle: var(--cb-grey);

    --cb-button-border: var(--cb-pale-grey);
    --cb-button-background: #f5f5f5;
    --cb-active-background: #f4f4f5;
    --cb-active-border: var(--cb-royal);
    --cb-icon-fill: var(--cb-royal);
    --cb-footer-text: var(--cb-light);
    --cd-footer-link: var(--cb-dark);
  }
}

.cb__body.cb__light-mode {
  --cb-body: #ffffff;
  --cb-light: #11121f;
  --cb-dark: #fff;
  --cb-grey: #34343b;

  --cb-text: var(--cb-text--cb-dark);
  --cb-heading: var(--cb-text--cb-dark);
  --cb-subtitle: var(--cb-grey);

  --cb-button-border: var(--cb-pale-grey);
  --cb-button-background: #f5f5f5;
  --cb-active-background: var(--cb-lavender);
  --cb-active-border: var(--cb-royal);
  --cb-icon-fill: var(--cb-royal);
  --cb-footer-text: var(--cb-light);
  --cd-footer-link: var(--cb-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cb__body {
  font-family: var(--body-font);
  font-size: 1rem;
  font-style: normal;
  width: 400px;
  background: var(--cb-body);
  color: var(--cb-text);
}

.cb__container {
  padding: 1rem;
}

.cb__header {
  margin-bottom: 16px;
}

.cb__heading-main {
  font-family: var(--alt-font);
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: var(--cb-text);
  letter-spacing: -0.02em;
}

.subtitle {
  font-size: 0.875rem;
  margin-bottom: 20px;
  color: var(--cb-subtitle);
}

.cb__header-control-wrapper {
  display: flex;
  justify-content: space-between;
}

.cb__section {
  margin-bottom: 2.25em;
}

.cb__heading-sub {
  font-family: var(--alt-font);
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  letter-spacing: 0.031rem;
  color: var(--cb-subtitle);
}

.cb__button {
  align-items: center;
  background: var(--cb-button-background);
  border: 2px solid var(--cb-button-border);
  cursor: pointer;
  transition: all 0.2s ease;
  letter-spacing: 0.08em;
  outline: none;

  &:hover,
  &:focus,
  &.active {
    border-color: var(--cb-active-border);
    background: var(--cb-active-background);
  }
}

.cb__button-theme-goggle {
  font-family: var(--alt-font);
  padding: 4px 8px;
  cursor: pointer;
  color: var(--cb-light);
  font-weight: 500;
  font-size: 1rem;
}

.cb-options__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cb__button-option {
  min-height: 3.75rem;
  text-align: left;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
}

.cb__button-option-label-wrapper {
  display: flex;
  flex-direction: column;
}

.cb__button-option-label {
  font-family: var(--alt-font);
  font-size: 1.5rem;
  color: var(--cb-light);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.6;
}

.cb__button-option-description {
  font-family: var(--alt-font);
  font-size: 1rem;
  color: var(--cb-subtitle);
  letter-spacing: 0;
  font-weight: 500;
}

.cb__button-option-eyecon {
  display: none;
  height: var(--cb-icon-size);

  & svg {
    fill: var(--cb-icon-fill);
  }
}

.cb__button-option.active .cb__button-option-eyecon {
  display: block;
}

.cb__footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  color: var(--cb-footer-text);
  font-size: 1.09rem;
  font-family: var(--alt-font);

  .cb__link,
  .cb__link:active,
  .cb__link:visited {
    color: var(--cd-footer-link);
  }

  .cb__logo {
    height: 20px;
    fill: var(--cb-light);
  }
}
